{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville | {{ parent() }}{% endblock %}

{% block body %}

<h2>Ajouter une ville</h2>

<!-- <div class="formContainer"> -->

<div class="cityForm">

    {{ form_start(campusForm) }}

    {{ form_widget(campusForm) }}

    <button>Ajouter</button>

    {{ form_end(campusForm) }}

</div>

<!-- </div> -->

{% endblock %}