{% extends 'base.html.twig' %}


{% block title %}

    Home | {{ parent() }}

{% endblock %}


{% block body %}
    <div>
        <p>Simule une page de l'école ENI, la page de connexions des sorties se trouve en haut à droite.</p>
        <img src="{{ asset('img/ecole_eni.png') }}" width = "100%" >
    </div>
{% endblock %}