@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

label{
    display: block;
}

input,
textarea,
select{
    margin-bottom: 1rem;
}