{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <a href="{{ path('app_newTrip') }}" title="New Trip">Créer une sortie</a>
{% endblock %}