{% extends 'base.html.twig' %}


{% block title %}
New Trip
{% endblock %}


{% block body %}
    <div class="newTrip">
        <div class="formNewTrip">
            {{ form_start(tripForm) }}

            {{ form_widget(tripForm) }}

            <button>Create a new trip</button>

            {{ form_end(tripForm) }}
        </div>
        <div class="TODO nom form lieu">

        </div>
    </div>
{% endblock %}