{% extends 'base.html.twig' %}


{% block title %}
Nouvelle sortie | {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Créer une sortie</h1>

    <div class="newTrip">
        <div class="formNewTrip">
            {{ form_start(tripForm) }}

            {{ form_widget(tripForm) }}

            <button>Create a new trip</button>

            {{ form_end(tripForm) }}
    </div>
{% endblock %}