{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville | {{ parent() }}{% endblock %}

{% block body %}

    <h2>Ajouter une ville</h2>

    <!-- <div class="formContainer"> -->

        <div class="cityForm">

            {{ form_start(cityForm) }}

            {{ form_widget(cityForm) }}

            <a>Ajouter</a>

            {{ form_end(cityForm) }}

        </div>

    <!-- </div> -->

{% endblock %}